body{

    background-color: blueviolet;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif


}

li.para1 {
    color: blue;
    font-size: 25px;

}
h1{
    color: blue;
    font-size: 25px;
    font-style: italic;
}